---
layout: default
---

<div class="about post-content">
  <div class="title">{{page.title}}</div>
  {{ content }}
</div>
<div>{{page.name}}</div>
<div>{{page.img}}</div>
<div>{{page.categories}}</div>
  {% for item in site.tags limit:40 offset:0 %}
    <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      boo
    </a>
  {% endfor %}
<div>{{page.tags}}</div>

  {% for item in site.tags.project limit:40 offset:0 %}
    <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      {{item.tag}}{{item.tags}}boo
    </a>
  {% endfor %}

    <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date }}</span></div>
    <br>
    <h4>Categories</h4>
    <ul class="tag_box">
    {{# page.categories?to_categories }}
      {{> categories_list }}
    {{/ page.categories?to_categories }}
    </ul>
    <br>
    <h4>Tags</h4>
    <ul class="tag_box">
    {{# page.tags?to_tags }}
      {{> tags_list }}
    {{/ page.tags?to_tags }}
    </ul>
  </div>
</div>