---
layout: default
---

<div class="about post-content">
  <div class="title">{{page.title}}</div>
  {{ content }}
</div>
<div>{{page.name}}</div>
<div>{{page.img}}</div>
<div>{{page.categories}}</div>
  {% for item in page.tags limit:40 offset:0 %}
    <a class="article-link" href="{{site.baseurl}}{{item.url}}" title="{{item.title}}">
      {{item}}
    </a>
  {% endfor %}
<div>{{page.tags}}</div>
> site tags: {{site.tags.web}}
> site posts: {{site.posts}}
> site related posts: {{site.related_posts}}
> site cat: {{site.categories.projects}}